{% extends 'base.html' %}

{% block app_content %}

<h1> {{title}} </h1>

<br>
<p>Deeplab simplifies the tracking and analysis of 
scientific data and samples.</p>


<h3>Sample tracking</h3>
Use the top menu to add a sample. Then add experiments to that sample
to track its status. You can also monitor the status of public samples
 submitted by other users.


<h3>Data analytics</h3>
Data can be analyzed inside the web application by
<a href="{{ url_for('upload') }}">uploading</a> your data 
as a <i>.csv</i> file.</p>


{% endblock %}
