{% extends 'base.html' %}

{% block app_content %}

<h1> {{title}} </h1>

<br>
<p>Deeplab is a web application for sample tracking and analysis of 
scientific data.</p>

<h3>Data analytics</h3>
To analyze data, select an 
<a href="{{ url_for('analyze') }}">analysis</a> routine and upload your 
data as a <i>.csv</i> file.</p>

<h3>Sample tracking</h3>
To track a sample, first 
<a href="{{ url_for('addsample') }}">add a sample</a>. 
Then add experiments to that sample to track its status. 
The status of public samples can be monitored by multiple users.


<br><b>
{% endblock %}
