{% extends 'base.html' %}

{% block app_content %}
    <h1> {{ title }} </h1>

<table>
<tr>
<td width='160'><b>Sample name:</b></td>
<td>{{ sample.name }}</td>
</tr>
<tr>
<td width='160'><b>Sample creator:</b></td>
<td><b><a href="{{ url_for('user', username=sample.author) }}"> {{ sample.author.username }}</b></a></td>
</tr>
<tr>
<td><b>Fabrication date:</b></td>
<td>{{ sample.fab_date }}</td>
</tr>
<tr>
<td><b>Composition:</b></td>
<td>{{ sample.composition }}</td>
</tr>
<tr>
<td><b>Fabrication method:</b></td>
<td>{{ sample.fab_method }}</td>
</tr>
<tr>
<td><b>Notes:</b></td>
<td>{{ sample.notes }}</td>
</tr>
<tr>
<td><b>Experiments:</b></td>
<td>{{ sample.experiments }}</td>
</tr>
<tr>
<td><b>Publically viewable:</b></td>
<td>{{ sample.ispublic }}</td>
</tr>
</table>
<br><br>


{#
{% if sample.author == current_user %}
<p><a href="{{ url_for('add_experiment') }}">Add an experiment to this sample</a></p>

{% else %}
<p>Contact <a href="{{ url_for('user', username=sample.user_id.username) }}"> {{ sample.author.username }}
</a>for more information about this sample.</p>
{% endif %}
#}

{% endblock %}
