{% extends 'base.html' %}

{% block app_content %}
    <h1> {{ title }} </h1>

<p> Choose <i>.csv</i> file(s) to upload,
then click <i>Upload</i>. 
Each <i>.csv</i> file should contain headers and list the 
independent variable (wavelength, wavenumber, frequency, etc.) 
in the first column. Subsequent columns should contain the spectral values.

<p>To perform homogeneous correlation spectroscopy (correlations 
between different spectra of the same type), upload a single <i>.csv</i> file
to <i>File 1</i>, then click <i>Upload</i>.

<p>To perform heterogeneous correlation spectroscopy (correlations 
between different spectra of different types), upload one <i>.csv</i> file
to <i>File 1</i> and another to <i>File 2</i>, then click <i>Upload</i>.


<form method=post enctype=multipart/form-data>

<b>File 1</b><input type=file name=file1>
<br>

<b>File 2</b><input type=file name=file2>
<br><br>

<input type=submit value=Upload>

<br>
<p style="color:red;"> {{upload_info.message}} </p>

</form>

<br><br>





{% endblock %}

